.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    padding: 10px

}

.dialogsItems {

}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;

}

.messages .message {

}